### --------------------------------------------------------------------
## data file
### --------------------------------------------------------------------
# *.dat
# *.cfg
# *.xyz
*.guff

### --------------------------------------------------------------------
###  Python, python-jupyter stuff
### --------------------------------------------------------------------
_version.py

### Pytest/pycache
/.pytest_cache
test/**/*.log
test/*.log
__pycache__
**/.ipynb_checkpoints/

### Build files
/site
/build
/dist
/MANIFEST
*.egg-info

### ENV
/venv
/.venv

### --------------------------------------------------------------------
### Latex tool auxiliary files:
### --------------------------------------------------------------------
# **/Zoutdir/   # this igore "folder", same as "Zoutdir/"
# Zoutdir/*     # this igore "files" in folder
_tmpAux/
# *.synctex
# *.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)


### ----------------------------------------------------------------------------
###  synchronization stuff
### ----------------------------------------------------------------------------
### Sync files
**/_gsdata_/
**/.sync.ffs_db

### tmp file due to office: ~$_*.doc,  ~$_*.ppt
**/~*.*
# **/*.docx#
